<h1>Hosts</h1>

<ul>
  <li>
    <% @hosts.each_with_index do |host, index| %>
        <div>
         <%=link_to host,notifications_path({:host_name=> host}) %>
        </div>
    <% end %>
  </li>
</ul>

